
<h1 class="text-center">Vous avez reçus une demande d'inscription à la newsletter !</h1>
<h4 class="text-center">{{subscriber.nom}} {{subscriber.prenom}} aimerait vous suivre !</h4>
<h4 class="text-center">Voici son email {{subscriber.email}} !</h4>
<h4 class="text-center">N'oubliez pas de l'entrer dans votre base de donnée Sendinblue :</h4>

<p class="text-center"><a href="https://app.sendinblue.com/account/login" class="btn btn-info" target="_blank">Connectez-vous à Sendinblue !</a></p>