{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<h1>À propos</h1>
<h2>Vous rêvez d’une voiture d’exception, de revivre vos séries télévisées à travers les voitures qui ont marqué le siècle dernier ?</h2>
<h3>Venez rencontrer notre équipe de passionnés qui vous aideront à trouver ou à restaurer votre véhicule.</h3>
{% endblock %}