{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br> À propos</h1>
        <h4 class="my-3">Vous rêvez d’une voiture d’exception, de revivre vos séries télévisées à travers les voitures qui ont marqué le siecle dernier ?</h4>
        <h5 class="my-3"><strong>Venez rencontrer notre équipe de passionnés qui vous aideront à trouver ou à restaurer votre vehicule.</strong></h5>
        <p class="text-primary">
            Nous nous deplaçons régulièrement aux les États-unis pour selectionner des produits d’exceptions.<br>
        </p>
        <p class="text-primary">
            Chaque véhicule est choisi selon un degrés d’exigence afin de vous assurer un vehicule sain.<br><br>
        </p>
        <p class="text-primary">
            <strong>Vous desirez vendre votre voiture de collection ?</strong> Nous pouvons vous la prendre en depôt/vente ou vous la racheter.<br><br>
        </p>
        <p class="text-primary">
            Notre team est composée de carrossiers, peintres, mecaniciens, selliers et d’une secrétaire, tous expérimentés dans le domaine de l’automobile de collection et de prestige.
        </p>

        <h3 class="my-3">Dominique Simon</h3>
        <p class="text-primary">
            Avant de se lancer dans cette nouvelle aventure, Dominique Simon est avant tout un passionné de belles mecaniques.<br><br>
        </p>
        <p class="text-primary">
            Il a fait de sa passion son metier et a repris sa premiere carrosserie à la fin des années 90.<br>
        </p>
        <p class="text-primary"> 
            Il aura l’occasion de participer à de nombreuses courses de côtes et 2 années consécutives aux 24 heures du Mans Moto avec le team Siberteam29.<br><br>
        </p>
        <p class="text-primary"> 
            Il commença par restaurer les voitures de ses rêves afin de pouvoir les posseder et les piloter. <br><br>
        </p>
        <p class="text-primary"> 
            <strong>Aujourd’hui, il se consacre exclusivement à la voiture de collection, en vous proposant de vous aider à trouver celle qu’il vous convient.</strong><br><br><br>
        </p>
    </div>
</div>
<div class="container mt-3 shadow-lg p-0 mb-5 bg-primary rounded">
        <video width="100%" height="100%"  controls>
            <source src="/video/visite_musee.mp4"
            type="video/mp4">
            Désolé, votre navigateur ne prend pas en charge les vidéos intégrées.
        </video>
    </div>

{% endblock %}