{% extends 'base.html.twig' %}

{% block title %}Atelier Mecaniques{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Atelier Mecanique</h1>
        <h4 class="my-3">
            <strong>Atelier mecanique du Musee</strong>
        </h4>
        <p>
            Nos locaux sont aussi equipes d’un atelier Mecanique où nos experts proposent l’entretien ou la remise en etat de la mecanique de votre vehicule.<br>L’atelier est compose de plusieurs aires avec un pont elevateur special pour vehicules de prestige et motos.
        </p>
        <p>Specialiste :</p>
        <ul>
            <li>Porsche</li>
            <li>Muscle car</li>
            <li>Anglaise</li>
        </ul>
        <p>
            Toute fois, nous pouvons realiser tout type de mecanique. N’hesitez pas à nous rendre visite afin d’effectuer un check up de votre vehicule.
        </p>
        <img src="..." alt="" class="..."><br><br><br>
    </div>
</div>
{% endblock %}