{% extends 'base.html.twig' %}

{% block title %}Atelier Carrosserie & Peinture{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Atelier Carrosserie & Peinture</h1>
        <h4 class="my-3">
            <strong>Des ateliers de réparation/rénovation de carrosserie et peinture à Nantes</strong>
        </h4>
         <p class="mb-3 text-primary">L’equipe de carrossiers et peintres du Musée sont tous formés aux metiers de la
                peinture et de la carrosserie automobile.</p>
        <div class="row">
            <div class="col-md-6 mb-3">

                <img class="rounded float-left mr-5"
                    src="/images_statiques/restauration-atelier-nantes-porshe-carrosserie-480x333.jpg"
                    alt="carrosserie-atelier-renovation-nantes1">
            </div>
            <div class="col-md-6  ">
                <table class="table table-sm table-striped table-dark">
                    <tbody>
                        <tr>
                            <td>
                                L’atelier carrosserie/peinture est <strong>équipe</strong> pour accueillir tout type de
                                    vehicule de collection
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Une cabine de peinture,
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Un laboratoire peinture équipe en produits base aqueuse et base solvantée
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Une aire de ponçage avec structure d’éclairage puissante pour l’évaluation des volumes
                                carrosserie,
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2 aires avec pont élévateur et tourne broche pour évaluation du châssis et traitement                          
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <p class="mt-1 ml-3 text-primary">Nos carrossiers peintres sont tous des <strong>artisans qualifiés</strong>. Notre
                talent
                nous a été transmis
                par des
                années d’experience auprés des <strong>plus grands professionnels de l’industrie automobile. Nous
                    maîtrisons tous travaux de tôlerie, soudure et peinture.</strong>.
            </p>
            <div class="row">
                <h2 class="ml-5 mb-2">Exemples d’intervention sur votre carrosserie</h2>
                <div class="col-md-6 mb-3 ml-2">

                    <img src="/images_statiques/carrosserie-atelier-renovation-nantes.jpg" class="rounded float-left"
                        alt="">
                    <img src="/images_statiques/voiture-collection-prestige-nantes-carrosserie.jpg"
                        class="rounded float-left mt-5" alt="">
                </div>
                <div class="col md-6  mr-5 mb-1">
                    <table class="table  table-striped table-dark ">
                        <tbody>
                            <tr>
                                <td>
                                    Mise sur le pont pour inspection du châssis, Demontage complet de la caisse,
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sablage de la caisse pour décaper et retirer toute trace de peinture et corrosion
                                    (la tôle est alors mise à nu)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Remplacement des tôles si besoin, ajustement des éléments (fabrication
                                    des éléments par nos soins si les éléments ne sont plus fabriqués en usine)

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    poses des différentes couches de protections(chromate de sulfate, convertisseurs de
                                    rouille, différents,apprêts, etc)

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Joints de serti, pose d’apprêt avant peinture, Mise en peinture,remontage des
                                    éléments, poli lustrage, nettoyage.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}