{% extends 'base.html.twig' %}

{% block title %}Atelier Carrosserie & Peinture{% endblock %}

{% block body %}
<div class="form-group">
    <h1 class="text-center my-5"><br>Atelier Carrosserie & Peinture</h1>
        <div class="col">
            <img class="rounded float-left ml-3" src="/Images_statiques/carrosserie-atelier-renovation-nantes1.jpg" alt="carrosserie-atelier-renovation-nantes1">
            <h4 class="my-3">
                <strong>Des ateliers de reparation/renovation de carrosserie et peinture à Nantes</strong>
                </h4>
                <h5><em>
                <strong>L’equipe de carrossiers et peintres du Musee sont tous formes aux metiers de la peinture et de la carrosserie automobile.</strong>
                </em></h5>
                <div class="col">
                <img style="margin-top: -5px; " class="rounded float-left" src="/Images_statiques/restauration-atelier-nantes-porshe-carrosserie-480x333.jpg" alt="carrosserie-atelier-renovation-nantes1">
            </div>
        </div>
</div>


<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Atelier Carrosserie & Peinture</h1>
        <h4 class="my-3">
            <strong>Des ateliers de réparation/rénovation de carrosserie et peinture à Nantes</strong>
        </h4>
        <h5><em>
            <strong>L’equipe de carrossiers et peintres du Musée sont tous formés aux metiers de la peinture et de la carrosserie automobile.</strong>
        </em></h5>
        <p>
            L’atelier carrosserie/peinture est <strong>équipe</strong> pour accueillir tout type de éehicule de collection :
        </p>
        <ul>
            <li>une cabine de peinture,</li>
            <li>un laboratoire peinture équipe en produits base aqueuse et base solvantée,</li>
            <li>une aire de ponçage avec structure d’éclairage puissante pour l’évaluation des volumes carrosserie,</li>
            <li>2 aires avec pont élévateur et tourne broche pour évaluation du châssis et traitement.</li>
        </ul>
        <p>
            <img class="..." src="..." alt="...">Nos carrossiers peintres sont tous des <strong>artisans qualifiés</strong>. Notre talent nous a été transmis par des années d’experience auprés des <strong>plus grands professionnels de l’industrie automobile</strong>.
        </p>
        <p>Nous maîtrisons tous travaux de tôlerie, soudure et peinture.</p>
        <h2>Une expertise minutieuse de votre voiture de collection</h2>
        <p>La restauration ne comprend pas que la partie visible.</p>
        <p>
            Elle peut en effet être partielle ou complete selon la demande du client et le<strong> protocole precis mis en place</strong>. De cette expertise decoulera un <strong>devis fait sur mesure</strong> pour votre vehicule de prestige.
        </p>
        <h2>Exemples d’intervention sur votre carrosserie</h2>
        <ul>
            <li>mise sur le pont pour inspection du châssis,</li>
            <li>demontage complet de la caisse,</li>
            <li>
                sablage de la caisse pour décaper et retirer toute trace de peinture et corrosion (la tôle est alors mise à nu),
            </li>
            <li>remplacement des tôles si besoin,</li>
            <li>
                ajustement des éléments (fabrication des éléments par nos soins si les éléments ne sont plus fabriques en usine),
            </li>
        </ul>
        <ul>
            <li>
                poses des différentes couches de protections (chromate de sulfate, convertisseurs de rouille, différents apprêts, etc),
            </li>
            <li>joints de serti,</li>
            <li>pose d’apprêt avant peinture,</li>
            <li>mise en peinture,</li>
            <li>remontage des éléments,</li>
            <li>poli lustrage,</li>
            <li>nettoyage.</li>
        </ul><br><br>
    </div>           
</div>
{% endblock %}