{% extends 'base.html.twig' %}

{% block title %}Atelier Mecaniques{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Atelier Mecanique du Musée</h1>
        <p class="text-primary">
            Nos locaux sont aussi équipés d’un atelier Mécanique où nos experts proposent l’entretien ou la remise en
            état de la mécanique de votre véhicule.<br>L’atelier est compose de plusieurs aires avec un pont élévateur
            special pour véhicules de prestige et motos.
        </p>
        <p class="text-primary">Specialiste :</p>
        <ul>
            {#le style permet d'implementer des paramètres de css#}
            <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-dark ">
                    Porsche
                </a>
                <a href="#" class="list-group-item list-group-item-dark">Muscle Car
                </a>
                <a z class="list-group-item list-group-item-dark">Anglaises
                </a>
            </div>
        </ul>
        <p class="text-primary">
            Toute fois, nous pouvons réaliser tout type de mécanique. N’hesitez pas à nous rendre visite afin
            d’effectuer un check up de votre véhicule.
        </p>
        <img src="/images_statiques/montagemoteurmécanique.png" alt="" class="rounded mx-auto d-block"><br><br><br>
    </div>
</div>
{% endblock %}