{% extends 'base.html.twig' %}

{% block title %}Atelier Carrosserie & Peinture{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Atelier Carrosserie & Peinture</h1>
        <h4 class="my-3">
            <strong>Des ateliers de réparation/rénovation de carrosserie et peinture à Nantes</strong>
        </h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img class="rounded float-left mr-5"
                    src="/images_statiques/restauration-atelier-nantes-porshe-carrosserie-480x333.jpg"
                    alt="carrosserie-atelier-renovation-nantes1">
            </div>
            <div class="col-md-6 ">
                <h5><em>
                        <strong>L’equipe de carrossiers et peintres du Musée sont tous formés aux metiers de la peinture
                            et de la
                            carrosserie automobile.</strong>
                    </em></h5>
                <p>
                    L’atelier carrosserie/peinture est <strong>équipe</strong> pour accueillir tout type de éehicule de
                    collection :
                </p>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action ">
                        Une cabine de peinture,
                    </a>
                    <a class="list-group-item list-group-item-action">Un laboratoire peinture équipe en produits base
                        aqueuse et base solvantée
                    </a>
                    <a class="list-group-item list-group-item-action ">Une aire de ponçage avec structure d’éclairage
                        puissante pour l’évaluation des volumes
                        carrosserie,
                    </a>
                    <a class="list-group-item list-group-item-action "> 2 aires avec pont élévateur et tourne broche
                    pour évaluation du châssis et traitement
                    </a>
                </div>
            </div>
            Nos carrossiers peintres sont tous des <strong>artisans qualifiés</strong>. Notre talent nous a été transmis
            par des
            années d’experience auprés des <strong>plus grands professionnels de l’industrie automobile</strong>.
            </p>
            <p>Nous maîtrisons tous travaux de tôlerie, soudure et peinture.</p>
        </div>
        <div class="row">
            <h2>Exemples d’intervention sur votre carrosserie</h2>
            <div class="col-md-6 mb-3">

                <img src="/images_statiques/carrosserie-atelier-renovation-nantes.jpg" class="rounded float-left"
                    alt="">
                <img src="/images_statiques/voiture-collection-prestige-nantes-carrosserie.jpg"
                    class="rounded float-left" alt="">
            </div>
            <div class="col md-6 mt-2 mr-5">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active">
                        Mise sur le pont pour inspection du châssis, </a>
                    <a class="list-group-item list-group-item-action active">Demontage complet de la caisse,
                    </a>
                    <a class="list-group-item list-group-item-action active">Sablage de la caisse pour décaper et retirer toute trace de peinture et corrosion (la tôle est alors mise à nu),
                    </a>
                    <a class="list-group-item list-group-item-action active">Remplacement des tôles si besoin,
                    </a>
                    <a class="list-group-item list-group-item-action active">Ajustement des éléments (fabrication des éléments par nos soins si les éléments ne sont plus fabriqués en usine),
                    </a>
                    <a class="list-group-item list-group-item-action active">Poses des différentes couches de protections(chromate de sulfate, convertisseurs de rouille, différents,apprêts, etc),
                    </a>
                    <a class="list-group-item list-group-item-action active">Joints de serti,
                    </a>
                    <a class="list-group-item list-group-item-action">Pose d’apprêt avant peinture,
                    </a>
                    <a class="list-group-item list-group-item-action">>Mise en peinture,
                    </a>
                    <a class="list-group-item list-group-item-action">Remontage des éléments,
                    </a>
                    <a class="list-group-item list-group-item-action">Poli lustrage,
                    </a>
                    <a class="list-group-item list-group-item-action">Nettoyage.
                    </a>
                </div>
                <ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}