{% extends 'base.html.twig' %}

{% block title %}Atelier Carrosserie & Peinture{% endblock %}

{% block body %}
<div class="form-group">
    <h1 class="text-center my-5"><br>Atelier Carrosserie & Peinture</h1>
            <div class="float-left">
                <img style="width: 75%" src="/Images_statiques/carrosserie-atelier-renovation-nantes1.jpg" alt="carrosserie-atelier-renovation-nantes1">
            </div>
            <div class="float-right">
                <img style="height: 100% ; width: 75%" src="/Images_statiques/restauration-atelier-nantes-porshe-carrosserie-480x333.jpg" alt="carrosserie-atelier-renovation-nantes1">
        </div>
</div>


<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        
        <h4 class="my-3">
            <strong>Des ateliers de reparation/renovation de carrosserie et peinture à Nantes</strong>
        </h4>
        <h5><em>
            <strong>L’equipe de carrossiers et peintres du Musee sont tous formes aux metiers de la peinture et de la carrosserie automobile.</strong>
        </em></h5>
        <p>
            L’atelier carrosserie / peinture est <strong>equipe</strong> pour accueillir tout type de vehicule de collection :
        </p>
        <ul>
            <li>une cabine de peinture,</li>
            <li>un laboratoire peinture equipe en produits base aqueuse et base solvantee,</li>
            <li>une aire de ponçage avec structure d’eclairage puissante pour l’evaluation des volumes carrosserie,</li>
            <li>2 aires avec pont elevateur et tourne broche pour evaluation du châssis et traitement.</li>
        </ul>
        <p>
            <img class="..." src="..." alt="...">Nos carrossiers peintres sont tous des <strong>artisans qualifies</strong>. Notre talent nous a ete transmis par des annees d’experience aupres des <strong>plus grands professionnels de l’industrie automobile</strong>.
        </p>
        <p>Nous maîtrisons tous travaux de tôlerie, soudure et peinture.</p>
        <h2>Une expertise minutieuse de votre voiture de collection</h2>
        <p>La restauration ne comprend pas que la partie visible.</p>
        <p>
            Elle peut en effet être partielle ou complete selon la demande du client et le<strong> protocole precis mis en place</strong>. De cette expertise decoulera un <strong>devis fait sur mesure</strong> pour votre vehicule de prestige.
        </p>
        <h2>Exemples d’intervention sur votre carrosserie</h2>
        <ul>
            <li>mise sur le pont pour inspection du châssis,</li>
            <li>demontage complet de la caisse,</li>
            <li>
                sablage de la caisse pour decaper et retirer toute trace de peinture et corrosion (la tôle est alors mise à nu),
            </li>
            <li>remplacement des tôles si besoin,</li>
            <li>
                ajustement des elements (fabrication des elements par nos soins si les elements ne sont plus fabriques en usine),
            </li>
        </ul>
        <ul>
            <li>
                poses des differentes couches de protections (chromate de sulfate, convertisseurs de rouille, differents apprêts, etc),
            </li>
            <li>joints de serti,</li>
            <li>pose d’apprêt avant peinture,</li>
            <li>mise en peinture,</li>
            <li>remontage des elements,</li>
            <li>poli lustrage,</li>
            <li>nettoyage.</li>
        </ul><br><br>
    </div>           
</div>
{% endblock %}