{% extends 'base.html.twig' %}

{% block title %}Conciergerie{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Conciergerie</h1>
        <h3 class="my-3">La Conciergerie du Musée</h3>
        <h4 class="my-3">
            <strong>Vous possédez un véhicule de collection, historique, ou de prestige. Vous manquez de place ou vous ne souhaitez pas le garder à votre domicile pour des raisons personnelles ou confidentielles. Cette conciergerie est faite pour vous !</strong>
        </h4>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        <td scope="row">
                            <p class="text-primary ml-3">Pourquoi stocker votre véhicule ? </p>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary ml-5"> Vous avez une panne prolongée, un problème économique pour l’utilisation de celui-ci, un décès, un retrait de permis, un manque de place,des contraintes géographiques, vous vivez en appartement, ou tout simplement vous desirez rester discret quant à votre patrimoine automobile.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        <td scope="row">
                            <p class="text-primary ml-3">Quelques avantages à stocker votre véhicule au Musée?</p>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ml-">
                <table>
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary ml-5"> Vous pouvez la conserver plutôt que de vous en séparer par manque de place, gagnez de la place et ne garder que vos véhicule d’utilisation quotidienne, ou encore faire entretenir celui-ci par des professionnels.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        <td scope="row">
                            <p class="text-primary ml-3">En plus du simple gardiennage, nous proposons une large gamme de services autours de votre véhicule : </p>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm">
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary">Entretien mécanique</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p class="text-primary">Suivi complet </p>
                            </td>
                        </tr>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary">Roulage mensuel</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p class="text-primary">Service administratif</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <img class="avatar-conciergerie" src="/images_statiques/le-musee-espace-conciergerie-non-fini.jpg"
                    alt="">
            </div>
        </div>
        <p class="ml-5 text-primary my-5">
            À votre demande, le véhicule sera prêt à reprendre la route et sera mis à votre disposition au moment désiré.
        </p>
        <p class="ml-5 text-primary my-2">
            <strong>Vous pouvez dès aujourd’hui reserver votre emplacement : +33 (0)2 49 09 43 93</strong></p>
    </div>
</div>
{% endblock %}