{% extends 'base.html.twig' %}

{% block title %}Conciergerie{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded desktop-conciergerie">
    <div class="container">
        <h1 class="text-center my-5"><br>Conciergerie</h1>
        <h4 class="my-3 mx-5 text-center my-5">
            Vous possédez un véhicule de collection, historique, ou de prestige.<br>
            Vous manquez de place ou vous ne souhaitez pas le garder à votre domicile pour des raisons personnelles ou confidentielles. Cette conciergerie est faite pour vous !
        </h4>
        <div class="row">
            <div class="col mx-5">
                <table class="table table-sm">
                    <tbody>
                        <td scope="row">
                            <p class="text-primary ml-3">Pourquoi stocker votre véhicule ? </p>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5">
                <table class="table table-sm">
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary ml-5"> Vous avez une panne prolongée, un problème économique pour l’utilisation de celui-ci, un décès, un retrait de permis, un manque de place,des contraintes géographiques, vous vivez en appartement, ou tout simplement vous desirez rester discret quant à votre patrimoine automobile.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5">
                <table class="table table-sm">
                    <tbody>
                        <td scope="row">
                            <p class="text-primary ml-3">Quelques avantages à stocker votre véhicule au Musée?</p>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5">
                <table class="table table-sm">
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary ml-5"> Vous pouvez la conserver plutôt que de vous en séparer par manque de place, gagnez de la place et ne garder que vos véhicule d’utilisation quotidienne, ou encore faire entretenir celui-ci par des professionnels.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5 mt-5 pt-5 mb-3">
                <table class="table table-sm">
                    <tbody>
                        <td scope="row">
                            <h5 class="text-primary">En plus du simple gardiennage, nous proposons une large gamme de services autours de votre véhicule : </h5>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col ml-5 pl-5 mt-5">
                <table class="table table-sm">
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary">Entretien mécanique</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p class="text-primary">Suivi complet </p>
                            </td>
                        </tr>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary">Roulage mensuel</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p class="text-primary">Service administratif</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col mx-5 px-5">
                <img class="avatar-conciergerie" src="/images_statiques/le-musee-espace-conciergerie-non-fini.jpg"
                    alt="">
            </div>
        </div>
        <p class="mx-5 text-primary mt-5">
            À votre demande, le véhicule sera prêt à reprendre la route et sera mis à votre disposition au moment désiré.
        </p>
        <p class="mx-5 text-primary mt-3 pb-5">
            Vous pouvez dès aujourd’hui reserver votre emplacement : +33 (0)2 49 09 43 93</p>
    </div>
</div>
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded phone-conciergerie">
    <div class="container">
        <h1 class="text-center my-5"><br>Conciergerie</h1>
        <h4 class="my-3 mx-5 text-center my-5">
            Vous possédez un véhicule de collection, historique, ou de prestige.<br>
            Vous manquez de place ou vous ne souhaitez pas le garder à votre domicile pour des raisons personnelles ou confidentielles. Cette conciergerie est faite pour vous !
        </h4>
        <div class="row">
            <div class="col mx-5">
                <table class="table table-sm">
                    <tbody>
                        <td scope="row">
                            <p class="text-primary ml-3">Pourquoi stocker votre véhicule ? </p>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5">
                <table class="table table-sm">
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary ml-5"> Vous avez une panne prolongée, un problème économique pour l’utilisation de celui-ci, un décès, un retrait de permis, un manque de place,des contraintes géographiques, vous vivez en appartement, ou tout simplement vous desirez rester discret quant à votre patrimoine automobile.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5">
                <table class="table table-sm">
                    <tbody>
                        <td scope="row">
                            <p class="text-primary ml-3">Quelques avantages à stocker votre véhicule au Musée?</p>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5">
                <table class="table table-sm">
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary ml-5"> Vous pouvez la conserver plutôt que de vous en séparer par manque de place, gagnez de la place et ne garder que vos véhicule d’utilisation quotidienne, ou encore faire entretenir celui-ci par des professionnels.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5 mt-5 pt-5 mb-3">
                <table class="table table-sm">
                    <tbody>
                        <td scope="row">
                            <h5 class="text-primary">En plus du simple gardiennage, nous proposons une large gamme de services autours de votre véhicule : </h5>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col ml-5 pl-5 mt-5">
                <table class="table table-sm">
                    <tbody>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary">Entretien mécanique</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p class="text-primary">Suivi complet </p>
                            </td>
                        </tr>
                        <tr class="table-active">
                            <td scope="row">
                                <p class="text-primary">Roulage mensuel</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p class="text-primary">Service administratif</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col mx-5 px-5">
                <img class="avatar-conciergerie" style="width: 85%; height: 85%" src="/images_statiques/le-musee-espace-conciergerie-non-fini.jpg"
                    alt="">
            </div>
        </div>
        <p class="mx-5 text-primary mt-5">
            À votre demande, le véhicule sera prêt à reprendre la route et sera mis à votre disposition au moment désiré.
        </p>
        <p class="mx-5 text-primary mt-3 pb-5">
            Vous pouvez dès aujourd’hui reserver votre emplacement : +33 (0)2 49 09 43 93</p>
    </div>
</div>
{% endblock %}