{% extends 'base.html.twig' %}

{% block title %}Conciergerie{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
        <div class="container">
            <h1 class="text-center my-5"><br>Conciergerie</h1>
            <h3 class="my-3">La Conciergerie du Musée</h3>
            <h4 class="my-3">
                <strong>Vous possédez un véhicule de collection, historique, ou de prestige. Vous manquez de place ou vous ne souhaitez pas le garder à votre domicile pour des raisons personnelles ou confidentielles. Cette conciergerie est faite pour vous !</strong>
            </h4>
            <ul >
                <li style="list-style-type:none;">
                        <i class="fas fa-angle-right" ></i>  <strong>Pourquoi stocker votre véhicule ?</strong><br>

                </li>
            </ul>
            <p class="ml-5">
                Vous avez une panne prolongée, un problème économique pour l’utilisation de celui-ci, un décès, un retrait de permis, un manque de place, des contraintes géographiques, vous vivez en appartement, ou tout simplement vous desirez rester discret quant à votre patrimoine automobile.<br><br>
            </p> 
            <ul>
                <li  style="list-style-type:none;">
                    <i class="fas fa-angle-right"></i><strong>Quelques avantages à stocker votre véhicule au Musée?</strong><br>
                </li>
            </ul>
            <p class="ml-5">
                Vous pouvez la conserver plutôt que de vous en séparer par manque de place, gagnez de la place et ne garder que vos véhicule d’utilisation quotidienne, ou encore faire entretenir celui-ci par des professionnels.<br><br>
            </p>
            <p class="ml-5">
                En plus du simple gardiennage, nous proposons une large gamme de services autours de votre véhicule :<br><br>
            </p>
            <ul>
                <li  style="list-style-type:none;"><i class="fas fa-angle-right"></i>Entretien mécanique</li>
                <li  style="list-style-type:none;"><i class="fas fa-angle-right"></i>Suivi complet</li>
                <li  style="list-style-type:none;"><i class="fas fa-angle-right"></i>Roulage mensuel</li>
                <li  style="list-style-type:none;"><i class="fas fa-angle-right"></i>Service administratif</li>
            </ul>
            <p class="ml-5">
                À votre demande, le véhicule sera prêt à reprendre la route et sera mis à votre disposition au moment désiré.<br><br>
            </p>
            <p class="ml-5">
                <strong>Vous pouvez dès aujourd’hui  reserver votre emplacement : +33 (0)2 49 09 43 93</strong><br><br><br>
            </p>
        </div>
    </div>
{% endblock %}