{% extends 'base.html.twig' %}

{% block title %}Expertise{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
        <div class="container">
            <h1 class="text-center my-5"><br>Expertise</h1>
            <h4 class="my-3">Le Musée rassemble une equipe de passionnés au même endroit. Un concentré d’experience à votre service pour s’occuper de votre véhicule de prestige.</h4>
            <h3 class="my-3"><strong>Dominique Simon et son équipe de passionnés</strong></h3>
            <p>
                Dominique Simon met à votre disposition <strong>ses 20 ans d’experience</strong> dans le domaine de la carrosserie et de la peinture.<br>
                Sa passion pour les belles mécaniques vous assure un travail minutieux et une expertise rigoureuse.<br><br>
            </p>
            <p>
                Dominique Simon a notamment déposé <strong>des brevets de peinture</strong> et des processus inedits dans le domaine de l’automobile et de la carrosserie.<br><br>
            </p>
            <p>
                Il est entouré d’une <strong>équipe de professionnels</strong>, qui ont tous fait leurs preuves chez plusieurs grandes marques. Nos carrossiers-peintres sont tous <strong>très qualifiés</strong> et sont passés par des domaines <strong>aussi divers</strong> que le milieu automobile, l’aéronautique (notamment Airbus) et l’univers industriel.<br><br>
            </p>
            <p>
                Passionnés au travail mais <strong>également en dehors </strong>: Dominique a participé aux 24 heures du Mans Motos plusieurs années de suite, tout comme un membre de notre équipe mécanique !
            </p>
    
            <h4 class="my-3">
                "C’est ça, l’esprit du Musée : une ambiance conviviale où règne la passion du véhicule de collection et prestige mais aussi l’amour des sports mécaniques."
            </h4>
            <h4 class="my-3">Une expérience partagée avec nos partenaires directs</h4>
            <p>
                Ainsi, Richard (mécanique) est un spécialiste <strong>Harley et Buell</strong> qui a, cependant, toutes les connaissances pour les autres marques.<br><br>
            </p>
            <p>
                Pour la restauration de véhicules de prestige,  <a href="{{ path('contact') }}" style="color: rgb(214, 0, 0)"> faites appel aux équipes professionnelles du Musée</a> à Nantes !<br><br><br>
            </p>
        </div>
    </div>
{% endblock %}