{% extends 'base.html.twig' %}

{% block title %}Expertise{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Expertise</h1>
        <h3 class="my-3">Le Musée rassemble une equipe de passionnés au même endroit. Un concentré d’experience à votre service pour s’occuper de votre véhicule de prestige.</h3>
        <div class="row">
            <div class="col ml-5">
                <img class="avatar-expertise" src="/images_statiques/musee-nantes-voiture-collection-480x400.jpg" alt="">
            </div>
            <div class="col mr-5">
                <img src="/images_statiques/le-musee-nantes-voiture-collection-reparation-480x333.jpg" alt="">
            </div>
        </div>
        

        <h4 class="mt-5 ml-3"><strong>Dominique Simon et son équipe de passionnés</strong></h4>
        <div class="col">
            <table class="table table-sm mt-5">
                <tbody>
                    <tr>
                        <td scope="row">
                            <p class="text-primary">Dominique Simon met à votre disposition <strong>ses 20 ans d’experience</strong> dans le domaine de la carrosserie et de la peinture. Sa passion pour les belles mécaniques vous assure un travail minutieux et une expertise rigoureuse.</p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <p class="text-primary">
                                Dominique Simon a notamment déposé <strong>des brevets de peinture</strong> et des processus inedits dans le domaine de l’automobile et de la carrosserie.</p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <p class="text-primary">Il est entouré d’une <strong>équipe de professionnels</strong>, qui ont tous fait leurs preuves chez plusieurs grandes marques. Nos carrossiers-peintres sont tous <strong>très qualifiés</strong> et sont passés par des domaines <strong>aussi divers</strong> que le milieu automobile, l’aéronautique (notamment Airbus) et l’univers industriel.</p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <p class="text-primary">Passionnés au travail mais <strong>également en dehors </strong>: Dominique a participé aux 24 heures du Mans Motos plusieurs années de suite, tout comme un membre de notre équipe mécanique !</p>
                        </td>
                    </tr>


                </tbody>
            </table>

        </div>
       
        <h1 class="my-3 ml-3">
            "C’est ça, l’esprit du Musée : une ambiance conviviale où règne la passion du véhicule de collection et
            prestige mais aussi l’amour des sports mécaniques."
        </h1>
        <h3 class="my-3 mt-4 ml-3">Une expérience partagée avec nos partenaires directs
        </h3>


        <div class="row ">
                <div class="col mt-3">
                     <p class="text-primary ml-4 my-2">
                        Ainsi, Richard (mécanique) est un spécialiste <strong>Harley et Buell</strong> qui a, cependant, toutes les connaissances pour les autres marques.
                    </p>
                    <p class="text-primary ml-4 my-5">
                        Pour la restauration de véhicules de prestige, <a href="{{ path('contact') }}"
                            style="color: rgb(214, 0, 0)"> faites appel aux équipes professionnelles du Musée</a> à Nantes
                        !</div>
                <div class="col ml-5 mt-3 mb-">
                    <img class="avatar-mechanique2 mr-2" src="/images_statiques/le-musee-voiture-collection-prestige-nantes-renovation-restauration.jpg" alt="">
                </div>
            </div>
        </p>
    </div>
</div>
{% endblock %}