{% extends 'base.html.twig' %}

{% block title %}Expertise{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
        <div class="container">
            <h1 class="text-center my-5"><br>Expertise</h1>
            <h4 class="my-3">Le Musee rassemble une equipe de passionnes au même endroit. Un concentre d’experience à votre service pour s’occuper de votre vehicule de prestige.</h4>
            <h3 class="my-3"><strong>Dominique Simon et son equipe de passionnes</strong></h3>
            <p>
                Dominique Simon met à votre disposition <strong>ses 20 ans d’experience</strong> dans le domaine de la carrosserie et de la peinture.<br>
                Sa passion pour les belles mecaniques vous assure un travail minutieux et une expertise rigoureuse.<br><br>
            </p>
            <p>
                Dominique Simon a notamment depose <strong>des brevets de peinture</strong> et des processus inedits dans le domaine de l’automobile et de la carrosserie.<br><br>
            </p>
            <p>
                Il est entoure d’une <strong>equipe de professionnels</strong>, qui ont tous fait leurs preuves chez plusieurs grandes marques. Nos carrossiers-peintres sont tous <strong>tres qualifies</strong> et sont passes par des domaines <strong>aussi divers</strong> que le milieu automobile, l’aeronautique (notamment Airbus) et l’univers industriel.<br><br>
            </p>
            <p>
                Passionnes au travail mais <strong>egalement en dehors </strong>: Dominique a participe aux 24 heures du Mans Motos plusieurs annees de suite, tout comme un membre de notre equipe mecanique !
            </p>
    
            <h4 class="my-3">
                "C’est ça, l’esprit du Musee : une ambiance conviviale où regne la passion du vehicule de collection et prestige mais aussi l’amour des sports mecaniques."
            </h4>
            <h4 class="my-3">Une experience partagee avec nos partenaires directs</h4>
            <p>
                Ainsi, Richard (mecanique) est un specialiste <strong>Harley et Buell</strong> qui a, cependant, toutes les connaissances pour les autres marques.<br><br>
            </p>
            <p>
                Pour la restauration de vehicules de prestige,  <a href="{{ path('contact') }}" style="color: rgb(214, 0, 0)"> faites appel aux equipes professionnelles du Musee</a> à Nantes !<br><br><br>
            </p>
        </div>
    </div>
{% endblock %}