{% extends 'base.html.twig' %}

{% block title %}Expertise{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Expertise</h1>
        <h4 class="mb-5 mx-5 text-center">Le Musée rassemble une equipe de passionnés au même endroit. Un concentré d’experience à votre service pour s’occuper de votre véhicule de prestige.</h4>
        <div class="row">
            <div class="col ml-5">
                <img class="avatar-expertise" src="/images_statiques/musee-nantes-voiture-collection-480x400.jpg" alt="">
            </div>
            <div class="col mr-5">
                <img src="/images_statiques/le-musee-nantes-voiture-collection-reparation-480x333.jpg" alt="">
            </div>
        </div>
        

        <h4 class="mt-5 pt-3 text-center">Dominique Simon et son équipe de passionnés</h4>
        <div class="col">
            <table class="table table-sm mt-4 mr-5 px-5 text-center">
                <tbody>
                    <tr>
                        <td scope="row">
                            <p class="text-primary">Dominique Simon met à votre disposition ses 20 ans d’experience dans le domaine de la carrosserie et de la peinture. Sa passion pour les belles mécaniques vous assure un travail minutieux et une expertise rigoureuse.</p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <p class="text-primary">
                                Dominique Simon a notamment déposé des brevets de peinture et des processus inedits dans le domaine de l’automobile et de la carrosserie.</p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <p class="text-primary">Il est entouré d’une équipe de professionnels, qui ont tous fait leurs preuves chez plusieurs grandes marques. Nos carrossiers-peintres sont tous très qualifiés et sont passés par des domaines aussi divers que le milieu automobile, l’aéronautique (notamment Airbus) et l’univers industriel.</p>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <p class="text-primary">Passionnés au travail mais également en dehors : Dominique a participé aux 24 heures du Mans Motos plusieurs années de suite, tout comme un membre de notre équipe mécanique !</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 class="mY-5 mx-5 pt-3 text-center">
            "C’est ça, l’esprit du Musée : une ambiance conviviale où règne la passion du véhicule de collection et
            prestige mais aussi l’amour des sports mécaniques."
        </h3>
        <h4 class="mb-3 mt-5 mx-5">Une expérience partagée avec nos partenaires directs
        </h4>


        <div class="row ">
            <div class="col mt-3">
                    <p class="text-primary mx-5 mt-5 text-center">
                    Ainsi, <a href="https://www.facebook.com/richysportsservices/" target="_blank" style="color: rgb(214, 0, 0)">Richard</a> (mécanique) est un spécialiste Harley et Buell qui a, cependant, toutes les connaissances pour les autres marques. <br>
                    <img src="images_statiques/richy.png" class="richy" alt="richy sports services">
                </p>
            </div>
            <div class="col ml-5 mt-5 mb-5">
                <img class="avatar-mechanique2 mr-5" src="/images_statiques/le-musee-voiture-collection-prestige-nantes-renovation-restauration.jpg" alt="">
            </div>
        </div>
        <p class="text-primary mx-5 my-4 pb-5 text-center">
            Pour la restauration de véhicules de prestige, <a href="{{ path('contact') }}" style="color: rgb(214, 0, 0)"> faites appel aux équipes professionnelles du Musée</a> à Nantes!
        </p>
    </div>
</div>
{% endblock %}