{% extends 'base.html.twig' %}
{% block title %}Nos partenaires{% endblock %}
{% block body %}

<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container my-3">
        <h1 class="text-center pt-5 my-5">Les Partenaires du Musée</h1>
        <p class="pt-2 pl-3 pr-3">
            <a href="https://americanbreizhcar.com/" style="color: #ff0000;">Américan Breizh Car</a>
            </span>&nbsp;</strong>est un club réunissant les passionnés de véhicules américains.
        </p>
        <p class="pt-2 pl-3 pr-3">
            <span style="color: #ff0000;">
            <a href="http://www.leninivin.fr/" style="color: #ff0000;">
                <strong>Cabinet D’assurance Thierry Le Ninivin</strong>
            </a>:</span>
            &nbsp;Assurez votre passion et votre patrimoine,&nbsp;par le spécialiste de l’assurance des voitures haut de gamme et des habitations de prestige, dans toute la France et Monaco.
        </p>
        <p class="pt-2 pl-3 pr-3">
            <a href="https://www.catawiki.eu/">
                <span style="color: #ff0000;">
                    <strong>Catawiki:</strong>
                </span>
            </a>site de vente aux enchères d’objets d’exception.
        </p>
        <p class="pt-2 pl-3 pr-3">
            <span style="color: #ff0000;">
                <strong>
                    <a href="http://experts-auto-independants.com/portfolios/bernard-chaillan/" style="color: #ff0000;">Bernard Chaillan</a>
                </strong>:</span>
            Faites expertiser votre véhicule de collection;&nbsp;<em>Expert</em>&nbsp;de justice Conseils avant achat, suivi de restauration<wbr>, évaluation de véhicules de collection ou d’exception.
        </p>
        <p class="pt-2 pl-3 pr-3">
            <span>
                <span style="color: #ff0000;">
                    <a href="https://www.facebook.com/ULocationVertou/" style="color: #ff0000;">
                        <strong>U location Vertou</strong>
                    </a>:</span>
                <span>Location de véhicules de collection et de prestiges sans chauffeur.</span>
            </span>
        </p> 
        <p class="pt-2 pl-3 pr-3">
            <span style="color: #ff0000;">
                <a href="https://www.polecollection.fr" style="color: #ff0000;">
                    <strong>Pôle Collection</strong>
                </a>:</span>
            Rassemblement de belles automobiles de collection et de prestige.
        </p>
        <p class="pt-2 pl-3 pr-3">
            <span style="color: #ff0000;">
            <strong>
                <a href="https://www.facebook.com/richysportsservices/" style="color: #ff0000;">Richy Sports Services</a>
            </strong>:</span>&nbsp;Le spécialiste pour vos entretiens et restaurations de Buell, recherches de modèles et pièces spécifiques.
        </p>
        <p class="pt-2 pb-5 pl-3 pr-3" >
            <span style="color: #ff0000;">
            <a href="https://www.facebook.com/Auto-Sécurité-288091105349046/" style="color: #ff0000;">
                <strong>AutoSécurité:</strong>
            </a>
            </span>
            faites confiance à notre partenaire pour votre contrôle technique.
        </p>
    </div>
</div>
{% endblock %}