{% extends 'base.html.twig' %}

{% block title %}Restauration de vehicules{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Restauration de véhicules</h1>
        <div class="row">


            <div class="col-md-6">
                <img src="/images_statiques/musee-nantes-voiture-collection-480x400.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h4 class="my-3">
                    <strong>Notre équipe de passionnés est à votre disposition pour redonner vie à vos véhicules, de la
                        petite reparation à la restauration complète.</strong>
                </h4>
                <h5 class="mt-5">
                    <em>Nous disposons de <strong>4 ateliers</strong> s’étendant sur plus de 1 500 m² pour permettre à
                        votre voiture d’être entièrement renovée au même endroit, du debut à la fin.</em>
                </h5>

            </div>
            <div class="row">
                <h4 class="mt-5 ml-5">Toute l’expertise de la restauration de voiture de collection à Nantes</h4>
                <div class="col-md-6">
                    <img class="ml-5" src="/images_statiques/Démontage-mustang-fastback-1965-restauration.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush mr-5">
                        <li class="list-group-item"> La restauration ne comprend pas que la partie visible. Chaque
                            demande est différente et peut impliquer une restauration complète ou partielle selon un
                            <strong>protocole precis</strong> mis en place.</li>
                        <li class="list-group-item"> Nous effectuons une <strong>expertise complète</strong> du véhicule
                            avant de vous proposer un devis de restauration. </li>
                        <li class="list-group-item">Votre véhicule suit un<strong> processus rigoureux</strong>, selon
                            le diagnostic établi à l’admission. Toutes les pièces, avant et après traitements, sont
                            classées et stockées.</li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <h3 class="mt-3 ml-5">Atelier restauration carrosserie / peinture</h3>

                <div class="col-md-5">
                    <p>Notre atelier de carrosserie est <strong>entièrement équipé</strong> :</p>
                    <ul class="list-group list-group-flush mr-5">
                        <li class="list-group-item">cabine de peinture, </li>
                        <li class="list-group-item">laboratoire peinture équipé, </li>
                        <li class="list-group-item">aire de ponçage avec structure d'éclairage puissante,</li>
                        <li class="list-group-item">2 aires avec pont élévateur et tourne-broche</li>
                    </ul>
                </div>
                <div class="col-md-7 ">
                    <p class="mt-3">
                        Nous prenons en charge <strong>tout type de demande</strong> : démontage et remontage partiel ou
                        complet, traitement anticorrosion, remise en état des tôles corrodées par découpe et
                        remplacement, finitions… Nous nous occupons également de <strong>tous les travaux de
                            peinture</strong> nécessaires pour votre vehicule grâce à notre matèriel adapté (cabine et
                        laboratoire de peinture).
                    </p>
                </div>

            </div>

            <div class="row">
                <h3>un tutre pas important</h3>
                <div class="md-11">
                    <img class="mt-5" src="/images_statiques/sellerie-nantes-restauration-cuir-voiture.jpg" alt="">

                </div>
                <div class="md-1">
                    du texte
                </div>
                Notre atelier de sellerie du Musée propose la restauration partielle ou totale de vos selleries.

            </div>

            <div class="row">

                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>










<p>

</p>
<p>

</p>




<p>
    <img class="..." src="..." alt="..." />
</p>
<h3>Atelier de restauration mécanique</h3>
<p>
    <img class="..." src="..." alt="..." />Nos locaux sont aussi équipe d&rsquo;un atelier Mécanique ou nos experts
    proposent <strong>l’entretien ou la remise en état de la mécanique</strong> de votre véhicule.
</p>
<p>
    L’atelier est compose de plusieurs aires avec un pont elevateur special pour vehicules de prestiges et motos.
</p>
<h3>Atelier de centre de soin et renovation des cuirs<img class="..." alt="..." /></h3>
<p>
    Nous pouvons vous proposer nos partenaires pour <strong>toutes les finitions esthetiques</strong> necessaires de
    votre vehicule ainsi qu&rsquo;un nettoyage complet.
</p>
<p>Vous recuperez ainsi votre bien comme neuf à la sortie du Musee.</p>
<h3>Un service supplementaire : les pieces neuves</h3>
<p>
    Grâce à nos partenaires, nous pouvons trouver <strong>toutes les pieces de vos voitures</strong> quelle que soit la
    marque ou l’âge.
</p>
<p>
    Nous proposons un <strong>service de restauration sur mesure</strong>, que vous souhaitiez rendre à votre vehicule
    sa beaute d’origine, l’ameliorer selon vos desirs ou faire un resto-mod.
</p>
<p>
    Nous vous donnerons les <strong>conseils d’experts adaptes</strong> à vos besoins et vos envies ! <br><br><br>
</p>
</div>
</div>
{% endblock %}