div.container {
    margin-top: 20px;
}

div.voiture-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.voiture-title .btn{
    margin-top: 2em;
    font-size: 1em;
    line-height: 1.5em;
}

div.voiture-title h1, div.voiture-title p {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

div.article-title {
    background-size: cover;
    background-position: center center;
}

div.article-title h1, div.article-title p {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

div.carousel-caption h5, div.carousel-caption p{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    
}

h1.voiture-title {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

h1.home-caption {
    font-size: 74px;
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
}

.avatar-micro {
   max-width: 50px;
   max-height: 50px;
}

.avatar-mechanique {
    max-width: 250px;
    max-height: 250px;
 }
 
 .avatar-mechaniques {
    max-width: 550px;
    max-height: 450px;
 }
 
 .avatar-mechanique2 {
    max-width: 550px;
    max-height: 250px;
 }
 .avatar-expertise {
    max-width: 480px;
    max-height: 333px;
 }
 .avatar-conciergerie {
    max-width: 480px;
    max-height: 333px;
 }

