{% extends 'admin/base.html.twig' %}

{% block title %}Campagne de Newsletter{% endblock %}

{% block body %}
<div class="container mt-3 shadow-lg p-0 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="text-center my-5"><br>Créer un nouvelle campagne de newsletter</h1>
        <img src="/images_statiques/sendinblue.png" alt="">
        <p class="text-center"><a href="https://app.sendinblue.com/account/login" class="btn btn-info" target="_blank">Connectez-vous à Sendinblue !</a></p>
        <br>
    </div>
</div>
{% endblock %}
