{% extends 'base.html.twig' %}

{% block title %}Ajout d'un article{% endblock %}

{% block body %}
<div class="container">

    <h1>Ajout d'un article</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

</div>
{% endblock %}