{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une voiture{% endblock %}

{% block body %}
<div class="container">

    <h1>Modification de l'article {{ article.titre }}</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

</div>
{% endblock %}