<footer class="mt-5 bg-primary py-3 text-center">
        <p style="font-size: 18px">Suivez-nous sur : <a href="https://www.facebook.com/Le-mus%C3%A9e-221001084966537/" style="font-size: 30px; text-decoration: none;" class="fa fa-facebook" title="Nous suivre sur Facebook" target="_blank"></a><a href="https://www.instagram.com/le_musee_44/" style="font-size: 30px; text-decoration: none;" class="fa fa-instagram" title="Nous suivre sur Instagram" target="_blank"></a>
        </p>
       

<!-- GTranslate: https://gtranslate.io/ -->
<style type="text/css">
    <!--
    #goog-gt-tt {display:none !important;}
    .goog-te-banner-frame {display:none !important;}
    .goog-te-menu-value:hover {text-decoration:none !important;}
    .goog-te-gadget-icon {background-image:url(//gtranslate.net/flags/gt_logo_19x19.gif) !important;background-position:0 0 !important;}
    body {top:0 !important;}
    -->
    </style>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
    function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE,autoDisplay: false, includedLanguages: ''}, 'google_translate_element');}
    </script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    