<footer class="mt-5 bg-primary py-3 text-center">
    <p style="font-size: 18px">Suivez-nous sur :<a href="https://www.facebook.com/Le-mus%C3%A9e-221001084966537/" style="font-size: 30px; text-decoration: none;" class="fa fa-facebook" title="Nous suivre sur Facebook" target="_blank"></a><a href="https://www.instagram.com/le_musee_44/" style="font-size: 30px; text-decoration: none;" class="fa fa-instagram" title="Nous suivre sur Instagram" target="_blank"></a></p>
    <p>Copyright © 2019 - Le Musée - Tous droits réservés.</p>
</footer>