<footer class="mt-5 bg-primary py-3 text-center">
    <p class="pt-3" style="font-size: 15px !important">
            Suivez-nous sur : <a href="https://www.facebook.com/Le-mus%C3%A9e-221001084966537/" style="font-size: 20px; text-decoration: none;" class="fa fa-facebook pl-1 py-0 my-0" title="Nous suivre sur Facebook" target="_blank"></a><a href="https://www.instagram.com/le_musee_44/" style="font-size: 20px; text-decoration: none;" class="fa fa-instagram py-0 my-0 pl-1" title="Nous suivre sur Instagram" target="_blank"></a>
    </p>
    <p><a href="{{path('partenaires')}}" style="font-size: 15px !important; text-decoration: none;" class="text-secondary">Nos partenaires</a></p>
    <p style="font-size: 15px !important">Copyright © 2019 - Le Musée - Tous droits réservés.</p>
    <p class="pb-2" style="font-size: 15px !important">Création : <a href="#" target="_blank" style="font-size: 15px !important; text-decoration: none;" class="text-secondary">Joachim Sall </a>-<a href="#" target="_blank" style="font-size: 15px !important; text-decoration: none;" class="text-secondary"> Simon Monnier </a>-<a href="#" target="_blank" style="font-size: 15px !important; text-decoration: none;" class="text-secondary"> John Guerard</a></p>
    <!-- GTranslate: https://gtranslate.io/ -->
    <style class="pb-3" type="text/css">
        
        #goog-gt-tt {display:none !important;}
        .goog-te-banner-frame {display:none !important;}
        .goog-te-menu-value:hover {text-decoration:none !important;}
        .goog-te-gadget-icon {background-image:url(//gtranslate.net/flags/gt_logo_19x19.gif) !important;background-position:0 0 !important;}
        body {top:0 !important;}

    </style>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE,autoDisplay: false, includedLanguages: ''}, 'google_translate_element');}
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
</footer>