{% extends 'admin/base.html.twig' %}

{% block title %}Ajout d'une voiture{% endblock %}

{% block body %}
<div class="container">

    <h1>Ajout d'une nouvelle voiture</h1>
    
    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }} 

</div>
{% endblock %}